*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Fredoka One','Arial','Roboto'sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
h6{
    font-family: 'Fredoka One';
}
p{
    font-family: 'Hind Madurai';
}
.home{
    width: 100%;
    background-color: #F2CEDA;
}
.home-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-header-menu{
    list-style: none;
    display: flex;
}
.home-header-list{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    color: #150101;
    margin-right: 40px;
}
.first-a{
    color: #D23166;
    margin-right: 30px;
}
.home-header-list:hover{
    color: blue;
}
.btn,
button{
    padding: 14px 48px;
    background-color: #D23166;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover,
button:hover{
    background-color: orange;
}
a{
    color: #FAFAFA;
}
.btn2{
    margin-top: 50px;
}
.home-main{
    width: 750px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home-main-text{
    margin-bottom: 200px;
}
.home-main-text > b{
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.1em;
    color: #0F0101;
}
.home-main-text > h6,
.red-section{
    margin-bottom: 30px;
    width: 680px;
    font-weight: 400;
    font-size: 57.33px;
    line-height: 120.5%;
    color: #0F0101;
}
.red-section{
    color: #a12851;
}
.home-main-text > p,
.brown-sugar-p,
.card-text,
.simple-way-text,
.footer-text
{
    width: 520px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #0F0101;
}
.cards{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width: 250px;
    height: 200px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.03);
    border-radius: 7px;
    text-align: center;
    padding-top: 30px;
}
.card > h6{
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    padding: 9px 0;
}
.card  > p{
    font-size: 14px;
    line-height: 19px;
}
.card-text{
    margin-top: 35px;
}
.brown-sugar-main{
    width: 100%;
    background-color: #F8EDF0;
}
.brown-sugar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.brown-sugar-texts > h1,
.products-main-h1{
    font-weight: 600;
    font-size: 44.2px;
    color: #150101;
}
.brown-sugar-p{
    margin-top: 16px;
    margin-bottom: 40px;    
}
.products{
    background: white;
    width: 100%;
}
.products-main-h1{
    text-align: center;
    padding-top: 120px;
}
.products-menu{
    list-style: none;
    display: flex;
    text-transform: uppercase;
    padding: 60px;
    justify-content: center;
}
.pruducts-list1{
    color: #000000;
    font-weight: 500;
    font-size: 18px;
}
.products-menu-list > img{
    margin-bottom: 12px;
}
li > a{
    color: #1d1d1d;
    padding-right: 40px;
}  
.product-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.card-texts > h3{
    font-weight: 700;
    font-size: 26px;
}
.product-number {
    padding-top: 34px;
    padding-bottom: 10px;
}
.product-number > b{
    font-weight: 500;
    font-size: 26px;
}
.product-number > span{
    font-weight: 500;
    font-size: 20px;
    text-decoration-line: line-through;
}
.card-head{
    align-items: center;
}
.card-head-text{
    display: flex;
}
.card-head-main-text{
    margin-left: 20px;
}
.card-img-p{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    margin-top: 5px;
}
.card-main-text{
    display: flex;
}
.card-text{
    margin-left: 15px;
}
.image{
    margin-top: 70px;
}
.card-images{
    margin-top: 50px;
}
.card-images > img {
    margin-right: 30px;
    justify-content: center;
}
.simple{
    width: 100%;
    background-color: #F8EDF0;
}
.simple-way{
    height: 600px;
    display: flex;
    align-items: center;
    position: relative;
}
.simple-way > img{
    position: absolute;
    top: 70px;
}
.simple-way-h1,
.title-h1{
    font-weight: 600;
    font-size: 42px;
}
.simple-way-texts{
    margin-left: 600px;
}
.simple-way-text{
    margin: 25px 0;
}
.icon{
    padding: 7px 7px;
    background: #FFFFFF;
    border-radius: 3px;
    margin-right: 9px;
}
.simple-way-span{
    font-weight: 400;
    font-size: 19px;
}
.simple-way-brow{
    margin-top: 40px;
}
.title{
    padding: 100px 0;
}
.title-h1{
    text-align: center;
}
.title1{
    margin-left: 200px;
}
input{
    padding: 29px 156px 29px 25px;
    border: 1px solid #FFA3A3;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 60px;
    margin-left: 30px;
}
.next-input{
    margin-left: 200px;
    padding-right: 580px;
    position: relative;
}
.form-btn,
.footer-btn{
    padding: 29px 40px;
    color: white;
    margin-right: 50px;
    position: absolute;
    left: 1108px;
    top: 5083px;   
}
footer{
    width: 100%;
    background-color: #0A0808;
}
.footer{
    padding: 70px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.footer-text{
    width: 200px;
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: white;
}
.footer-h6{
    font-weight: 500;
    font-size: 12px;
     color: white;
     margin-top: 25px;
     margin-bottom: 10px;
}
.footer-icons{
    padding-right: 10px;
}
.footer-list{
    color: white;
    margin-left: 45px;
}
.footer-lists{
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
}
.footer-form{

}
.footer-btn{
    position: absolute;
    top: 5503px;
    left: 1265px;
}
.footer-forms{
    margin-bottom: 30px;
}
.footer-form{
    opacity: 0.5;
    border: 2px solid #D64374;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #0A0808;
    padding-right: 230px;
}
.footer-fourth-section-images{
    padding-right: 40px;
    margin-left: 30px;
    margin-top: 25px;
}
